body{
    margin:0px !important;
}

#recommendation {
    border-radius: 3px; 
    font-family: 'Inter' !important;
    font-size: 13px !important;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

#recommendation-actions {
    display: flex;
    border-top: 1px solid #CFCFCF;
    margin-top: 2em;
    text-align: center;
    cursor: pointer;
}

#dismiss-recommendation {
    flex-grow: 1;
    background-color: #EDEDED;
    padding: 0.6em;
}

#accept-recommendation {
    flex-grow: 1;
    background-color: #175ADF;
    color: #fff;
    padding: 0.6em;
}


#recommendation-dismiss:hover {
    background: rgb(28, 4, 37);
}

#recommendation-text {
    padding: 5px 7px;
}

#initial-recommendation {
    display: flex;
   }
   
#recommendation-extras {
    border-top: 1.5px dotted #ffffff63;
    display: none;
}

#extra-recs {
    margin: 5px 0px;
}

#recommendation-extras.show {
    display: inline;
}